<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <title>App</title>
    <style>
        .image {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    </style>
</head>

<body>
<div>
    <img alt="application link" src="{{ qrCode }}" class="image"/>
</div>
</body>

</html>
